@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green: #2f3c2f;
  --olive: #cedacc;
  --green_light: #93ad89;
  --aqua: #e9f2ee;
  --brown: #c9af8c;
  --pink: #f2e1e7;
  --white: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 em {
  font-family: "Prata", serif;
}

h1 {
  font-size: 80px;
  font-family: "Prata", serif;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-family: "Prata", serif;
  font-size: 20px;
  margin-bottom: 30px;
}

body {
  background-color: #ffffff;
}

blockquote {
  background-color: #c3e4d9;
  font-family: "Prata", serif;
  font-size: 70px;
  text-align: center;
  padding: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.b-orange{
  background-color: #dfb08e;
}

.banner h1 {
  color: #393939;
  font-size: 100px;
  text-align: center;
  margin-bottom: 2rem;
}

.banner h3 {
  color: #393939;
  font-size: 20px;
  text-align: center;
  margin-bottom: 5rem;
  margin-top: 3rem;
}

.banner p {
  color: #767676;
  font-size: 15px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  line-height: 1.8rem;
  margin-bottom: 5rem;
}

.card_1 {
  background-color: #dbe5fd;
  border-radius: 20px;
}

.card_2 {
  background-color: #dadddc;
  border-radius: 20px;
}
.card_3 {
  background-color: #f7e0c8;
  border-radius: 20px;
}
.card_4 {
  background-color: #fbeba3;
  border-radius: 20px;
}
.card_5 {
  background-color: #dbe5fd;
  border-radius: 20px;
}
.card_6 {
  background-color: #dbf1a7;
  border-radius: 20px;
}

.card-title h5 {
  font-size: 20px;
  font-family: "Prata", serif;
}

#perfiles .col-md-3 {
  padding: 15px;
}

#comentarios .col-md-12 {
  padding: 15px;
  margin-bottom: 5rem;
}

#comentarios .img {
  width: 100%;
  height: 400px;
}

#novedades .col-md-6 {
  padding: 30px;
}

#novedades img {
  width: 100%;
}

footer {
  font-family: "Prata", serif !important;
  background-color: #dbf1a7;
  align-items: center;
  padding: 70px 0px;
  text-align: center;
  color: #000;
}

.footer h3 {
  font-size: 16px;
  font-weight: 900;
  font-family: "Prata", serif;
  text-align: center;
}

.footer p {
  font-size: 815px;
  font-family: "Prata", serif;
  text-align: center;
}
footer a{
  color: #000;
  text-decoration: none;
}

.card-img-top{
  padding: 20px;
}

.card-body{
  text-align: center;
}
.card-body p{
  font-size: 16px;
}

.card-text{
  text-align: center;
}

.card-title{
  text-align: center;
}

.space{
  padding: 100px 20px;
}

.banner{
  padding: 50px 0px;
}

.banner h2{
  text-align: center;
  padding: 20px;
}

.banner ol {
  color: #767676;
  font-size: 15px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  line-height: 1.8rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  blockquote {
    font-size: 40px;
    padding: 80px;
  }
}

.swiper-container .card-wrapper{
  padding: 40px;
  text-align: center;
}

.swiper-container .card-img, .swiper-container .card-img-top{
  max-width: 250px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px !important;
  padding: 40px;
}

.swiper-button-next, .swiper-button-prev{
  position: relative !important;
  color: black !important;
  width: 50px !important;
  height: 50px !important;
  border: 1px solid black;
  border-radius: 100px;
  padding: 20px !important;
}

.swiper-container{
  overflow: hidden;
}

.arrow-container{
  max-width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 200px;
}

.swiper-button-next::after, .swiper-button-prev::after{
  transform: scale(.7);
}


